<!DOCTYPE html>
<!-- thymeleaf è un TEMPLATE ENGINE, permette di creare pagine web
mischiando JAVA e HTML -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!--
  LO RAGGIUNGETE DA BROWSER tramite localhost:8080/es1
    RIEMPITELA CON I VOSTRI DATI
    TITOLO -> LA MIA PRESENTAZIONE
    sottotitolo-> nome e cognome (tutto scritto qui a mano)
    paragrafo con i dati di residenza (potete inventarli)
   sottotitolo-> ABOUT ME
   paragrafo con una presentazione generica (ciao sono un ragazzo solare....)

   -->
</body>
</html>