<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <!--
    è una specializzazione di XML
    dove XML è un linguaggio generico per strutturare DATI
    HTML è un linguaggio specifico per strutturare DOCUMENTI WEB
   -->
    <!--
        h1-h2-h3-4-5-6   sono gli header, i titoli, mettendo
        qualcosa dentro un elemento di questo tipo
        viene graficato come titolo
        più il numero è piccolo, più il titolo è grande
    -->
    <h1>TITOLONE</h1>
    <h2>SOTTOTITOLO</h2>
    <h3>SOTTOSOTTOTITOLO</h3>
  <!--
    p, paragrafo di testo
-->
    <p>ciao sono il primo paragrafo di testo</p>
    <p>ciao sono il secondo paragrafo di testo</p>
    <p>ciao sono il terzo paragrafo di testo</p>



</body>
</html>